vue-ces/.DS_Store
vue-ces/node_modules/
vue-ces/dist/
vue-ces/npm-debug.log*
vue-ces/yarn-debug.log*
vue-ces/yarn-error.log*
vue-ces/test/unit/coverage/
vue-ces/test/e2e/reports/
vue-ces/selenium-debug.log


koa-ces/node_modules
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

nest-ces/node_modules/